body {
  background: url('imgs/repeat.jpg') repeat;
}

.island_box {
    background: url('imgs/background.png') no-repeat center center;    
}

.island {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 50%; /* to keep proportions */
  height: auto; /* to keep proportions */
  max-width: 100%; /* not to stand out from div */
  max-height: 100%; /* not to stand out from div */
  margin: auto auto 0; /* position to bottom and center */
  margin-bottom: 20px;
}